.App {
  text-align: left;
  max-width: 1200px;
  margin: 0 auto;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.header {
  height: 55px;
}

.heading {
  width: 80%;
  float: left;
}

.logo-container {
  width: 45px;
  float: left;
}

.logo-container img {
  width: 36px;
  height: 36px;
}

.header {
  padding: 30px 20px;
  background-color: #283255;
}

.header h1 {
  color: #ffffff;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 200;
  font-size: 36px;
  padding: 0;
  margin: 0;
}

.header p {
  color: #ffffff;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 200;
  font-size: 14px;
  padding: 0;
  margin: 0;
  clear: both;
}

.header hr {
  color: #ffffff;
  width: 140px;
  clear: both;
  float: left;
  margin: 5px 0;
}

.left-panel {
  width: 60%;
  float: left;
  text-align: left;
}

.padder {
  padding: 20px;
}

.right-panel {
  width: 40%;
  float: right;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
